body {
  padding-top: 70px;
  background-color: #f7f7f7;
}
.starter-template {
  padding: 40px 15px;
}
.signin {
  -webkit-border-radius: 10px;
  -moz-border-radius: 8px;
  border-radius: 10px;
}
.shadowbox {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

