* 
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: arial,sans-serif;
}
#Schedule
{
    margin: 30px;    
    padding: 10px;
    display: inline-block;
}
#Schedule table
{
    
}
#Schedule table thead tr td
{
    color: #666;
    text-align: center;
    overflow: hidden;
    background-color: White;
    margin: 1px;
    cursor: pointer;
    padding: 8px 0;
    font-size: 9pt;
    font-weight: bold;
    overflow: hidden;    
    background: #ecf0f1;
}
#Schedule table tbody tr td
{
    text-align: center;
    font-size: 10px;
    font-family: 'Comic Sans MS';

}
#Schedule table thead tr td:hover
{
    color: #555;
    -color: #bfbfbf;
    background: #c3cacc;
}
#Schedule table thead tr td.selected, #Schedule table thead tr td.selected:hover
{    
    border-color: #555895;
    color: #444;
}
#Schedule table tbody tr td
{    
    cursor: pointer;
    margin: 1px;
    text-align: center;
}
#Schedule table tbody tr td.hovered
{        
    background-color: #effbff;   
}
#Schedule table tbody tr td.selected, #Schedule table tbody tr td.selected:hover
{    
    border-color: #555895;
    background-color: #c5e3ea;
}
#Schedule table tbody tr td:hover
{
    background-color: #effbff;
}
/*#Schedule table tbody tr td:first-child div
{
    padding: 1px 3px;
    vertical-align: top;
    font-size: 9pt;
    cursor: default;
    text-align: center;    
    margin: 0;    
    font-weight: bold;
    color: #777;
}*/
.window{
    position: fixed;
    width: 250px;
    height: -webkit-calc(100% - 120px); height: calc(100% - 120px);
    top: 0;
    right: -250px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid black;
    border-radius: 10px 0 0 10px;    
    color: rgba(4,4,4,0.0);    
    text-align: center;
    line-height: 2;
    margin-top: 70px;
    overflow: auto;    
}