<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/starter-template.css" rel="stylesheet"/>
    <link href="_layout.html" rel="import"/>
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
    var link = document.querySelector('link[rel=import]').import;
    var doc = link.querySelector('.head');
    document.body.appendChild(doc.cloneNode(true));
</script>
<div class="container">
    <div class="row starter-template">
        <div class="col-md-8">
            <p>Table</p>
        </div>
        <div class="col-md-2">
            <form class="form-group">
                <label for="date">Enter date: </label>
                <input id="date" type="date" class="input-group"/>
                <br/>
                <label for="numberClass">Select number class</label>
                <select id="numberClass" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <br/>
                <label for="typeLoad">Type of load</label>
                <select id="typeLoad" class="form-control"></select>
                <br/>
                <label for="discipline">Discipline</label>
                <select id="discipline" class="form-control"></select>
                <br/>
                <label for="auditorium">Auditorium</label>
                <select id="auditorium" class="form-control"></select>
                <!-- if LK
                <label for="stream">Stream</label>
                <select id="stream" class="form-control"></select> -->
                <!-- else -->
                <label for="specialty">Specialty</label>
                <select id="specialty" class="form-control"></select>
                <label for="group">Group</label>
                <select id="group" class="form-control"></select>
                <label for="subgroup">Subgroup</label>
                <select id="subgroup" class="form-control"></select>
                <!-- end else -->
                <button class="btn btn-success" type="submit" id="postTimetable">Save</button>
            </form>
        </div>
        <div class="col-md-2" id="groupInfo"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--  <script src="js/jquery-1.10.2.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/TypeOfLoad',
            async: false,
            timeout: 30000,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                fillTypeLoadSelect(data);
            }
        });
        $.ajax({
            url: '/Disciplines?' + "idFaculty=" + sessionStorage.getItem("idFaculty") + "\u0026semester=" + sessionStorage.getItem("semester"),
            type: 'GET',
            async: false,
            timeout: 15000,
            dataType: 'json',
            success: function (data) {
                fillDiscSelect(data);
            }
        });
    });
    $("#typeLoad").change(function () {
        console.log("test");
        var body = $("#typeLoad").val();
        console.log(body);
        $.ajax({
            url: '/Auditoriums?type=' + body,
            type: 'GET',
            dataType: 'json',
            success: function (msg) {
                fillAuditorium(msg);
            }
        });
    });
    $("#discipline").change(function () {
        var req = "nameDiscipline=" + $("#discipline option:selected").text() + "\u0026semester=" + sessionStorage.getItem("semester");
        if($("#typeLoad").val() == "ЛК") {
            $.ajax({
                url: 'Stream?' + req,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    fillStream(data);
                }
            });
        }
        else {
            $.ajax({
                url: 'Specialties?' + req,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    fillSpecialties(data);
                }
            });
        }
    });
    $("#specialty").change(function () {
        let req = "nameSpec="+$("#specialty option:selected").text() + "\u0026semester=" + sessionStorage.getItem("semester");
        $.ajax({
            url: 'Group?' + req,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                fillGroup(data);
            }
        });
    });
    $("#group").change(function () {
        let req = "nameSpec="+$("#specialty option:selected").text() + "\u0026semester=" + sessionStorage.getItem("semester") + "\u0026group=" + $("#group").val();
        $.ajax({
            url: 'Subgroup?' + req,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                fillSubgroup(data);
            }
        });
    });
    function fillSubgroup(data) {
        var strRes = "";
        $.each(data, function (index, item) {
            strRes += "<option value = " + item.subgroup + ">" + item.subgroup +  "</option>";
        });
        $("#subgroup").html(strRes);
    }
    function fillGroup(data) {
        var strRes = "";
        $.each(data, function (index, item) {
            strRes += "<option value = " + item.group + ">" + item.group +  "</option>";
        });
        $("#group").html(strRes);
    }
    function fillSpecialties(data) {
        var strRes = "";
        $.each(data, function (index, item) {
            strRes += "<option value = " + item.shortNameOfSpecialty + ">" + item.shortNameOfSpecialty +  "</option>";
        });
        $("#specialty").html(strRes);
    }
    function fillStream(data) {
        var strRes = "";
        $.each(data, function (index, stream) {
            strRes += "<option value = " + stream.name + ">" + stream.name +  "</option>";
        });
        $("#stream").html(strRes);
    }
    function fillTypeLoadSelect(data) {
        var strRes = "";
        $.each(data, function (index, typeLoad) {
            strRes += "<option value = " + typeLoad.short_name_of_load + ">" + typeLoad.short_name_of_load +  "</option>";
        });
        $("#typeLoad").html(strRes);
    }
    function fillAuditorium(data) {
        var strRes = "";
        $.each(data, function (index, auditorium) {
            strRes += "<option value = " + auditorium.number + ">" + auditorium.number +  "</option>";
        });
        $("#auditorium").html(strRes);
    }
    function fillDiscSelect(data) {
        var strRes = "";
        $.each(data, function (index, disc) {
            strRes += "<option value = " + disc.nameOfDiscipline + ">" + disc.nameOfDiscipline + "</option>";
        });
        $("#discipline").html(strRes);
    }
</script>
</body>
</html>