<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/starter-template.css"/>
    <link rel="import" href="_layout.html"/>
    <title>Расписание</title>
</head>
<body>
<script type="text/javascript">
    var link = document.querySelector('link[rel=import]').import;
    var doc = link.querySelector('.head');
    document.body.appendChild(doc.cloneNode(true));
</script>

<div id="Schedule" class="container">
    <table cellpadding="0" cellspacing="0" class = "table table-responsive table-bordered">
        <thead>
        <tr class="headDay">
            <td></td>
            <td class='d0'>
                <div>
                    Monday
                </div>
            </td>
            <td class='d1'>
                <div>
                    Tuesday
                </div>
            </td>
            <td class='d2'>
                <div>
                    Wednesday
                </div>
            </td>
            <td class='d3'>
                <div>
                    Thursday
                </div>
            </td>
            <td class='d4'>
                <div>
                    Friday
                </div>
            </td>
            <td class='d5'>
                <div>
                    Saturday
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr class='h0'>
            <td>
                <div id="session0"></div>
            </td>
            <td class='d0'>
                <div></div>
            </td>
            <td class='d1'>
                <div></div>
            </td>
            <td class='d2'>
                <div></div>
            </td>
            <td class='d3'>
                <div></div>
            </td>
            <td class='d4'>
                <div></div>
            </td>
            <td class='d5'>
                <div></div>
            </td>
        </tr>
        <tr class='h1'>
            <td>
                <div id="session1"></div>
            </td>
            <td class='d0'>
                <div></div>
            </td>
            <td class='d1'>
                <div></div>
            </td>
            <td class='d2'>
                <div></div>
            </td>
            <td class='d3'>
                <div></div>
            </td>
            <td class='d4'>
                <div></div>
            </td>
            <td class='d5'>
                <div></div>
            </td>
        </tr>
        <tr class='h2'>
            <td>
                <div id="session2"></div>
            </td>
            <td class='d0'>
                <div></div>
            </td>
            <td class='d1'>
                <div></div>
            </td>
            <td class='d2'>
                <div></div>
            </td>
            <td class='d3'>
                <div></div>
            </td>
            <td class='d4'>
                <div></div>
            </td>
            <td class='d5'>
                <div></div>
            </td>
        </tr>
        <tr class='h3'>
            <td>
                <div id="session3"></div>
            </td>
            <td class='d0'>
                <div></div>
            </td>
            <td class='d1'>
                <div></div>
            </td>
            <td class='d2'>
                <div></div>
            </td>
            <td class='d3'>
                <div></div>
            </td>
            <td class='d4'>
                <div></div>
            </td>
            <td class='d5'>
                <div></div>
            </td>
        </tr>
        <tr class='h4'>
            <td>
                <div id="session4"></div>
            </td>
            <td class='d0'>
                <div></div>
            </td>
            <td class='d1'>
                <div></div>
            </td>
            <td class='d2'>
                <div></div>
            </td>
            <td class='d3'>
                <div></div>
            </td>
            <td class='d4'>
                <div></div>
            </td>
            <td class='d5'>
                <div></div>
            </td>
        </tr>
        <tr class='h5'>
            <td>
                <div id="session5"></div>
            </td>
            <td class='d0'>
                <div></div>
            </td>
            <td class='d1'>
                <div></div>
            </td>
            <td class='d2'>
                <div></div>
            </td>
            <td class='d3'>
                <div></div>
            </td>
            <td class='d4'>
                <div></div>
            </td>
            <td class='d5'>
                <div></div>
            </td>
        </tr>
        <tr class='h6'>
            <td>
                <div id="session6"></div>
            </td>
            <td class='d0'>
                <div></div>
            </td>
            <td class='d1'>
                <div></div>
            </td>
            <td class='d2'>
                <div></div>
            </td>
            <td class='d3'>
                <div></div>
            </td>
            <td class='d4'>
                <div></div>
            </td>
            <td class='d5'>
                <div></div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-default" id="btnPrev">Prev week</button>
        </div>
        <div class="col-md-1 col-md-offset-10">
            <button type="button" class="btn btn-default" id="btnNext">Next week</button>
        </div>   
    </div>
</div>
<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/schedule.js" type="text/javascript"></script>
</body>
</html>
